<!DOCTYPE html5>
<html>

<head>
    {% load static %}
    <title>Tindle - Log In</title>
    <script src="https://use.fontawesome.com/68a025e94e.js"></script>
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>


<body>


    <section class="wrap"><section class="wrapin"><section class="main"><div class="head">
        <div class="title"><h0>Tindle</h0><img class="side-logo" src="{% static 'img/favicon.png' %}"></div><br>
        <div class="userinput">
            <form action="{% url 'user:auth' %}" method="post">
                {% csrf_token %}
                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}">
                {% endif %}
                <table class="login"> 
                    <tr>
                        <th class="login" align="right"><p5>USERNAME</p5></th>
                        <th class="login" align="left"><input class="login" type="text" name="username"><br></th>
                    </tr><tr>
                        <th class="login" align="right"><p5>PASSWORD</p5></th>
                        <th class="login" align="left"><input class="login" type="password" name="password"><br></th>
                    </tr><tr>
                        <th class="login" colspan="2" align="center">
                        <input class="login" type="submit" value="LOG IN">
                        <a href="{% url 'user:register'%}">
                            <input class="login" type="button" value="REGISTER">
                        </a>
                        </th>
                    </tr>
                </table>
            </form>
        </div>
    </div></section></section></section>

</body>

</html>

